---
const today = new Date();
---

<footer class="footer card bg-base-100 shadow-xl p-6">
  <div class="date">
    &copy; {today.getFullYear()} VDTK ❤️
  </div>
  <div class="inline">
    Powered by <a
      href="https://www.vid30.netlify.app"
      target="_blank"
      class="font-bold">Vid30</a
    > using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a
      href="https://github.com/jynadal/astro-vdtk-chainlink"
      target="_blank"
      class="font-bold">VDTK Your Movies in Web3 ⚡️</a
    >
  </div>
  <br>
</footer>
