---
import { Image } from "astro:assets";
import Menu from "../components/SideBarCardMenu.astro"
import Footer from "../components/SideBarCardFooter.astro"
import { SITE_TITLE, SITE_DESCRIPTION, USER_NICKNAME, USER_DESCRIPTION, TRANSITION_API } from "../consts";
const {
  name,
  desc,
  includeSidebar = true,
  PageID,
} = Astro.props;
---

 <div class="flex">
      
      <div class="p-6">
          # Hi there! 👋

          This is the Frosti theme

          A clean, elegant, and fast static blog template
      </div>

    </div>